body,
html {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f1ecec;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0;
    top: 50px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 9px;
    border-top: 10px solid #CBDDF5;
    border-bottom: 10px solid #CBDDF5;
    width: 400px;
    height: 500px;
}

.box h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #020202;
    font-size: 25px;
    margin-top: 94px;
}

.box input[type="text"],
.box input[type="password"] {
    display: block;
    margin: 20px auto;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 14px 10px;
    width: 320px;
    outline: none;
    color: #000000;
    transition: all .2s ease-out;
}

.error {
    color: #ff3333; /* Red color for error messages */
    font-size: 12px; /* Font size of the error message */
    margin-top: 5px; /* Space between input and error message */
    display: none; /* Hide by default */
}

.btn1,
.btn2 {
    display: block;
    background-color: #4B89DC;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 25px;
    width: 80%;
    text-decoration: none; /* Remove underline */
    border: none; /* Ensure no border is added */
    box-shadow: none; /* Remove any box shadow */
    transition: none; /* Disable any transition effects */
}
